.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  font-weight: 700;
}
.input {
  border: 2px solid rgb(0, 88, 110);
  width: 300px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.input:focus {
  outline: 4px solid rgba(0, 150, 188, 0.2);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 15px;
  height: 36px;
  border: 2px solid rgb(0, 88, 110);
  background-color: #fff;
  color: #f80;
  width: 150px;
}
.button:hover,
.button:focus {
  background-color: rgba(0, 150, 188, 0.2);
}
