.sidebar {
  width: 200px;
  background-color: rgb(238, 238, 238);
  min-height: 700px;
}
.wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.main {
  width: 100%;
}
